@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}
html, body{
    background: rgb(22,12,49);
background: linear-gradient(90deg, rgba(22,12,49,1) 4%, rgba(29,16,65,1) 62%, rgba(44,24,99,1) 100%);
    font-family: 'Kanit', sans-serif;
}