.greeting-message{
    color: white;
}
.artist-card{
    background-color: #8F3985;
}
.playlist-card{
    background-color: #290956;
}
.btn-primary{
    background-color: #8F3985;
    border-color: #8F3985;
    &:focus, &:hover{
        background-color: #fff;
        color: #290956;

    }
}