<main>
  <div class="container py-3">
    <header class="pb-3 mb-4 border-bottom">
      <a
        href="/"
        class="d-flex align-items-center text-dark text-decoration-none"
      >
        <span class="fs-3 greeting-message">{{ message }}</span>
      </a>
    </header>

    <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-3 fw-bold text-white">Start Listening!</h1>
        <p class="col-md-8 fs-4 text-white">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos aut
          architecto doloribus quo officia. Ratione, sed ad. Omnis voluptatibus
          necessitatibus fugiat, laboriosam aspernatur nihil excepturi sint.
          Minima error repellat hic.
        </p>
        <button class="btn btn-primary btn-lg" type="button">
          Play Now!
        </button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white rounded-3 artist-card">
          <h2>Artists</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus iste
            iure, omnis perferendis sed tempora corporis voluptatum, minima
            mollitia maiores obcaecati error vero, enim laborum sunt libero
            saepe quis perspiciatis!
          </p>
          <button class="btn btn-outline-light" type="button">
            Check Artists!
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 rounded-3 playlist-card text-white">
          <h2>Your Playlist</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            accusantium, tempore quas officiis a suscipit sed consequatur,
            eligendi earum deleniti animi commodi rem autem magnam, tempora
            delectus at excepturi nulla!
          </p>
          <button class="btn btn-outline-light" type="button">
            Go to playlist.
          </button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">&copy; 2021</footer>
  </div>
</main>
